
// Fonts
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

// Materialize CSS
@import "node_modules/materialize-css/sass/components/color";

// Variables
@import "variables";

// Materialize CSS
@import "node_modules/materialize-css/sass/materialize";

body{
	background-color: color('green', 'lighten-5');
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    
    position: fixed;
  	z-index: 1004;
    opacity: 0.7;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
}

.filter-group{
    .btn{
        float: right;
        height: 3rem;
        line-height: 3rem;
    }
    .filter-wrapper{
        overflow: hidden;
        padding-right: 10px;
    }
}